# Rails
alias rdbt="RAILS_ENV=test be rake db:drop db:create db:schema:load"
alias rdbty="RAILS_ENV=test be rake db:drop db:create db:schema:load_from_yml"

# Timestamp
alias ts="date +%Y%m%d%H%M%S"

# macOS
alias afk="open -a ScreenSaverEngine"

# Local configuration
[[ -f $HOME/.aliases.local ]] && source $HOME/.aliases.local
