# GitHub
github-ratelimit() {
    if [ "$1" ]; then
        curl --silent -H "Authorization: token $1" https://api.github.com/rate_limit | jq '.rate'
    else
        curl --silent https://api.github.com/rate_limit | jq '.rate'
    fi
}

# Local configuration
[[ -f $HOME/.functions.local ]] && source $HOME/.functions.local
